<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>NotchHub</string>
    <key>CFBundleIdentifier</key>
    <string>ru.trueruslan.notchhub</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>NotchHub</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.5.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NHAdapterCommit</key>
    <string></string>
    <key>NHAdapterPatchSHA256</key>
    <string></string>
    <key>NHReleasesURL</key>
    <string>https://github.com/True-Ruslan/notch-hub/releases/latest</string>
    <key>NHSourceCommit</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
